#root {
  height: 100%;
}

body {
  font-family: 'NHaasGroteskPro', sans-serif;
  background-color: #000;
}

.landing-body {
  position: absolute;
  height: 100%;
  top: 3vh;
  background-color: #000;
  color: #FFF;
  transition: all 0.6s;
  opacity: 0;
}

.landing-body__visible {
  opacity: 1;
  top: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5vw 10vw;
  font-size: 2vw;
  vertical-align: baseline;
  color: #262626;
}

.landing-wrapper {
  position: relative;
  padding: 2.5vw;
}

.nav-center-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1vw;
  line-height: 1.4vw;
  letter-spacing: -0.02vw;
}

.nav-block {
  flex: 1;
}

.nav-right-block {
  display: flex;
  justify-content: flex-end;
}

.about-me-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5vw;
  width: 90vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1vw;
  line-height: 1.4vw;
  letter-spacing: -0.02vw;
  color: #262626;
}

.about-me-footer__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.collab-blurb {
  text-align: right;
  padding-right: 5vw;
  position: absolute;
  bottom: 15vw;
  width: 90vw;
  color: #262626;
}

.collab-blurb-hello {
  color: #E44A1B;
}

.banner-text {
  font-size: 10vw;
  line-height: 9vw;
  letter-spacing: -0.4vw;
}

.name-banner {
  padding: 2.5vw 5vw;
  color: #262626;
}

.landing-page {
  display: flex;
  flex-direction: column;
  background: #e2e1da;
  height: 120vw;
}

.landing-page__ig-bg {
  background: url('./ig_hover_bg.png') no-repeat center center #e2e1da;
  background-size: 100% 100%;
}

.about-me__about {
  padding: 2.5vw 2.5vw 2.5vw 2.5vw;
  font-size: 2vw;
  color: #fff;
  background: #818E87;
  width: 100%;
}

.about-me-panel__paralax {
  transition: all 0.6s;
}

.about-me-panel {
  width: 45vw;
}

.about-me__picture {
  background: url('./steph_grain_green.png') no-repeat center center;
  background-size: 100% 100%;
  height: 45vw;
  width: 45vw;
  border-style: solid;
  border-width: 2.5vw;
  border-color: #818E87;
}

.about-me__text-section {
  padding: 0vw 2.5vw 5vw 2.5vw;
  color: #fff;
  background: #818E87;
  font-size: 1.6vw;
  line-height: 2vw;
  letter-spacing: -0.03vw;
  width: 100%;
}

.client-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vw;
  line-height: 9vw;
  width: 100%;
  top: 0;
  padding: 2.5vw 0vw 2.5vw 0vw;
  text-transform: uppercase;
  letter-spacing: -0.36vw;
  z-index: -1;
  background: #000;
  color: #d7d7d7;
  overflow: hidden;
}

.client-project-card {
  position: absolute;
  height: 40vw;
  width: 30vw;
  cursor: pointer;
}

.client-project-card:hover > .client-project-card__image {
  border-color: white;
}

.client-project-card:hover > .client-project-number {
  background: white;
  color: black;
}

.orange-text {
  color: #e44a1b;
}

.black-text {
  color: #000;
}

.client-list-message-me {
  color: #e44a1b;
}

.client-project-card__01 {
  top: 0vw;
  left: 0vw;
}

.client-project-card__02 {
  top: 0vw;
  right: 0vw;
}

.client-project-card__04 {
  top: 0vw;
  left: 0vw;
}

.client-project-card__03 {
  top: 0vw;
  right: 0vw;
}

.client-project-number {
  font-size: 2vw;
  width: 26vw;
  padding: 2vw;
  bottom: 0;
  background-color: #000;
  text-transform: uppercase;
  letter-spacing: -0.04vw;
  color: #fff;
}

.client-project-image {
  top: 0;
  right: 0;
  background: url('./Steph_pixel.png') no-repeat center center;
  background-size: 100% 100%;
  height: 40vw;
  width: 30vw;
}

.first-project-image {
  background: url('./first-project.png') no-repeat center center;
  background-size: 100% 100%;
  height: 26vw;
  width: 26vw;
  border-style: solid;
  border-width: 2vw;
  border-color: #000;
}

.second-project-image {
  background: url('./second-project.png') no-repeat center center;
  background-size: 100% 100%;
  height: 26vw;
  width: 26vw;
  border-style: solid;
  border-width: 2vw;
  border-color: #000;
}

.third-project-image {
  background: url('./third-project.png') no-repeat center center;
  background-size: 100% 100%;
  height: 26vw;
  width: 26vw;
  border-style: solid;
  border-width: 2vw;
  border-color: #000;
}

.fourth-project-image {
  background: url('./fourth-project.png') no-repeat center center;
  background-size: 100% 100%;
  height: 26vw;
  width: 26vw;
  border-style: solid;
  border-width: 2vw;
  border-color: #000;
}

.fifth-project-image {
  background: url('./fifth-project.png') no-repeat center center;
  background-size: 100% 100%;
  height: 26vw;
  width: 26vw;
  border-style: solid;
  border-width: 2vw;
  border-color: #000;
}

.client-project-image__black-bg {
  background: #000;
}

.nda-main {
  display: flex;
  flex-direction: column;
  background: #E44A1B;
  height: 100vh;
  overflow: hidden;
}

.nda-flash-row {
  font-size: 10vw;
  line-height: 9vw;
  width: 100%;
  top: 0;
  text-transform: uppercase;
  letter-spacing: -0.36vw;
  color: #d7d7d7;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nda-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 100px;
}

.nda-header {
  display: flex;
  align-items: flex-end;
}

.nda-header__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nda-header__left {
  flex: 1;
}

.nda-header__right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nda-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nda-photo {
  background: url('./steph_grain_green.png') no-repeat center center;
  background-size: 100% 100%;
  height: 25vw;
  width: 25vw;
  background-color: #e2e1da;
}

.nda-message-me {
  padding-top: 50px;
}

.flashing-text__hidden {
  opacity: 0;
}

.twitter-card {
  width: 45vw;
  height: 20vw;
  font-size: 3vw;
  letter-spacing: -0.04vw;
  position: fixed;
  padding: 2.5vw;
  top: 30vh;
  left: -7vw;
  background: #E44A1B;
  z-index: 1;
  color: #e2e1da;
  transform: rotate(90deg);
}

.twitter-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9vw;
}

.nda-photo__tear-initial {
  top: 43%;
  background: url('./tear.png') no-repeat center center;
  background-size: 100% 100%;
  height: 20px;
  width: 10px;
  position: absolute;
  left: 51.5%;
}

.about-me__picture-mask {
  top: 24%;
  background: url('./steph_face_mask.png') no-repeat center center;
  background-size: 100% 100%;
  height: 125px;
  width: 100px;
  position: absolute;
  left: 55%;
  visibility: hidden;
}

.about-me__picture-mask_visible {
  visibility: visible;
}

.client-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 2s;
  z-index: -1;
}

.client-wrapper__after {
  opacity: 1;
}

.client-wrapper-nav {
  color: #fff;
  position: absolute;
  top: 2vh;
  left: 0;
  right: 0;
  font-size: 2vw;
  vertical-align: baseline;
  letter-spacing: -0.02vw;
}

.client-landing__projects-text {
  font-size: 2vw;
  position: absolute;
  right: -7.5vw;
  bottom: 50%;
  transform: rotate(90deg);
  letter-spacing: -0.02vw;
}

.nda-header-close-button {
  cursor: pointer;
}

@media screen and (max-width: 600px) {

  body {
    height: 100%;
    font-family: 'NHaasGroteskPro', sans-serif;
    background-color: #000;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
    font-size: 6vw;
    vertical-align: baseline;
    color: #262626;
  }

  .landing-wrapper {
    position: relative;
    padding: 4vw;
  }

  .nav-center-block {
    display: none;
  }

  .about-me-footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5vw;
    width: 90vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
    line-height: 1.4vw;
    letter-spacing: -0.02vw;
    color: #262626;
  }

  .nda-photo {
    background: url('./steph_grain_green.png') no-repeat center center;
    background-size: 100% 100%;
    height: 50vw;
    width: 50vw;
    background-color: #e2e1da;
  }

  .about-me-footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
  }

  .collab-blurb {
    text-align: right;
    right: 4vw;
    position: absolute;
    bottom: 15vw;
    width: 90vw;
    color: #262626;
  }

  .collab-blurb-hello {
    color: #262626;
  }

  .banner-text {
    font-size: 12vw;
    line-height: 11vw;
    letter-spacing: -0.5vw;
  }

  .name-banner {
    padding: 2.5vw 4vw;
    color: #262626;
  }

  .landing-page {
    display: flex;
    flex-direction: column;
    background: #e2e1da;
    height: 100vh;
  }

  .about-me__about {
    padding: 4vw 0vw 4vw 4vw;
    font-size: 6vw;
    color: #fff;
    background: #818E87;
  }

  .about-me__picture {
    background: url('./steph_grain_green.png') no-repeat center center;
    background-size: 100% 100%;
    height: 84vw;
    width: 84vw;
    border-style: solid;
    border-width: 4vw;
    border-color: #818E87;
    position: relative;
  }

  .about-me__text-section {
    padding: 0vw 4vw 4vw 4vw;
    color: #fff;
    background: #818E87;
    font-size: 5vw;
    line-height: 6vw;
    letter-spacing: -0.03vw;
  }

  .client-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12vw;
    line-height: 11vw;
    width: 100%;
    top: 0;
    padding: 4vw 0vw;
    text-transform: uppercase;
    letter-spacing: -0.36vw;
    z-index: -1;
    background: #000;
    color: #d7d7d7;
    overflow: hidden;
  }

  .client-landing__item {
    flex: 1;
  }

  .client-project-card {
    position: absolute;
    height: 80vw;
    width: 60vw;
  }

  .orange-text {
    color: #e44a1b;
  }

  .black-text {
    color: #000;
  }

  .client-list-message-me {
    color: #d7d7d7;
  }

  .client-project-card__01 {
    top: 0vw;
    left: 0vw;
  }

  .client-project-card__02 {
    top: 0vw;
    right: 0vw;
  }

  .client-project-card__04 {
    top: 0vw;
    left: 0vw;
  }

  .client-project-card__03 {
    top: 0vw;
    right: 0vw;
  }

  .client-project-number {
    font-size: 4vw;
    width: 60vw;
    padding: 4vw;
    bottom: 0;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: -0.04vw;
    color: #fff;
  }

  .first-project-image {
    background: url('./first-project.png') no-repeat center center;
    background-size: 100% 100%;
    height: 60vw;
    width: 60vw;
    border-style: solid;
    border-width: 4vw;
    border-color: #000;
  }

  .second-project-image {
    background: url('./second-project.png') no-repeat center center;
    background-size: 100% 100%;
    height: 60vw;
    width: 60vw;
    border-style: solid;
    border-width: 4vw;
    border-color: #000;
  }

  .third-project-image {
    background: url('./third-project.png') no-repeat center center;
    background-size: 100% 100%;
    height: 60vw;
    width: 60vw;
    border-style: solid;
    border-width: 4vw;
    border-color: #000;
  }

  .fourth-project-image {
    background: url('./fourth-project.png') no-repeat center center;
    background-size: 100% 100%;
    height: 60vw;
    width: 60vw;
    border-style: solid;
    border-width: 4vw;
    border-color: #000;
  }

  .fifth-project-image {
    background: url('./fifth-project.png') no-repeat center center;
    background-size: 100% 100%;
    height: 52vw;
    width: 52vw;
    border-style: solid;
    border-width: 4vw;
    border-color: #000;
  }

  .nda-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
  }

  .nda-header {
    display: flex;
    align-items: flex-end;
    font-size: 3vw;
  }

  .wrapper {
    height: 75px;
    width: 75px;
  }

  .landing-body {
    position: absolute;
    height: 100%;
    top: 5vh;
    background-color: #000;
    color: #FFF;
    transition: all 1s;
    opacity: 0;
  }

  .landing-body__visible {
    opacity: 1;
    top: 0;
    width: 100%;
  }
}

