.client-project-card {
    &:hover {
        .project-card-glitch-container {
            border-color: white;
        }

        .client-project-number {
            background: white;
            color: black;
        }

        .client-project-card__image {
            border-color: white;
        }

        .first-project-image {
            background: url('./project1_glitch.gif') no-repeat center center;
        }

        .second-project-image {
            background: url('./project2_glitch.gif') no-repeat center center;
        }

        .third-project-image {
            background: url('./project3_glitch.gif') no-repeat center center;
        }

        .fourth-project-image {
            background: url('./project4_glitch.gif') no-repeat center center;
        }

        .fifth-project-image {
            background: url('./project5_glitch.gif') no-repeat center center;
        }
    }
}

.client-list-message-me {
    color: #e44a1b;
}

a {
    color: #000000;
    text-decoration: none;

    &:hover {
        color: red;
    }
}

.first-project-image {
  background: url('./first-project.png') no-repeat center center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.nda-message-me {
  padding-top: 2.55vw;
  font-size: 2vw;
  color: #fff;

  &:hover {
    color: #fff;
  }
}
