.client-project-card {
    &:hover {
        .project-card-glitch-container {
            border-color: white;
        }

        .client-project-number {
            background: white;
            color: black;
        }

        .client-project-card__image {
            border-color: white;
        }
    }
}

a:link, a:visited {
    text-decoration: none;
}
