.client-project-card {
    &:hover {
        .project-card-glitch-container {
            border-color: white;
        }

        .client-project-number {
            background: white;
            color: black;
        }

        .client-project-card__image {
            border-color: white;
        }
    }
}

.client-list-message-me {
    color: #e44a1b;
}

a {
    color: #000000;
    text-decoration: none;

    &:hover {
        color: red;
    }
}
